Source: xmltooling
Section: libs
Priority: optional
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>, Ferenc Wagner <wferi@niif.hu>
Build-Depends: debhelper (>= 5), autotools-dev, libxerces-c2-dev, liblog4cpp5-dev,
 libxml-security-c-dev (>= 1.4), libcurl3-openssl-dev
Standards-Version: 3.7.2
Homepage: https://spaces.internet2.edu/display/OpenSAML/XMLTooling-C
Vcs-Git: git://git.debian.org/git/pkg-shibboleth/xmltooling.git
Vcs-Browser: http://git.debian.org/?p=pkg-shibboleth/xmltooling.git

Package: libxmltooling1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open source XMLTooling library
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM. It adds more powerful facilities
 for declaring element- and type-specific API and implementation
 classes to add value around the DOM, as well as signing and encryption
 support.
 .
 This package contains the xmltooling runtime library.

Package: xmltooling-schemas
Section: text
Architecture: any
Description: XML schemas for XMLTooling
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM. It adds more powerful facilities
 for declaring element- and type-specific API and implementation
 classes to add value around the DOM, as well as signing and encryption
 support.
 .
 This package contains the XMLTooling schema files.

Package: libxmltooling1-dev
Section: libdevel
Architecture: any
Depends: libxmltooling1 (= ${Source-Version})
Suggests: libxmltooling1-doc (= ${Source-Version})
Description: XMLTooling development Headers
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM. It adds more powerful facilities
 for declaring element- and type-specific API and implementation
 classes to add value around the DOM, as well as signing and encryption
 support.
 .
 This package contains the headers and other necessary files to build
 applications or libraries that use or extend the xmltooling library.

Package: libxmltooling1-doc
Section: doc
Architecture: all
Description: XMLTooling API Documentation
 XMLTooling Library API documentation generated by Doxygen.
