Source: xmltooling
Section: libs
Priority: extra
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>, Ferenc Wagner <wferi@niif.hu>
Build-Depends: debhelper (>= 7), autotools-dev, doxygen,
 libcurl4-openssl-dev, liblog4cpp5-dev, libxerces-c-dev,
 libxml-security-c-dev (>= 1.5)
Standards-Version: 3.8.3
Homepage: https://spaces.internet2.edu/display/OpenSAML/XMLTooling-C
Vcs-Git: git://git.debian.org/git/pkg-shibboleth/xmltooling.git
Vcs-Browser: http://git.debian.org/?p=pkg-shibboleth/xmltooling.git

Package: libxmltooling3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ XML parsing library with encryption support (runtime)
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM.  It adds more powerful facilities for
 declaring element- and type-specific API and implementation classes, as
 well as signing and encryption support.
 .
 This package contains the files necessary for running applications that
 use the XMLTooling library.

Package: libxmltooling-dev
Section: libdevel
Architecture: any
Depends: libxmltooling3 (= ${binary:Version}), libcurl4-openssl-dev,
 liblog4cpp5-dev, libxerces-c-dev, libxml-security-c-dev (>= 1.4)
Suggests: libxmltooling-doc (= ${source:Version})
Description: C++ XML parsing library with encryption support (development)
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM. It adds more powerful facilities
 for declaring element- and type-specific API and implementation
 classes to add value around the DOM, as well as signing and encryption
 support.
 .
 This package contains the headers and other necessary files to build
 applications or libraries that use or extend the XMLTooling library.

Package: xmltooling-schemas
Section: text
Architecture: all
Description: XML schemas for XMLTooling
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM.  It adds more powerful facilities for
 declaring element- and type-specific API and implementation classes, as
 well as signing and encryption support.
 .
 This package contains the XML schema files used by the XMLTooling
 library.

Package: libxmltooling-doc
Section: doc
Architecture: all
Description: C++ XML parsing library with encryption support (API docs)
 The XMLTooling library contains generic XML parsing and processing
 classes based on the Xerces-C DOM. It adds more powerful facilities
 for declaring element- and type-specific API and implementation
 classes to add value around the DOM, as well as signing and encryption
 support.
 .
 This package contains the XMLTooling library API documentation generated
 by Doxygen.
